

<div class="main-content">
  <%= image_tag("news-shadow.png", :class => "page-title" ) %>
  <p class="page-title">About Us</p>
  <div class="content-left"><br />Meet our staff:<br /><br />
  CEO<br />
  &nbsp;&nbsp;&nbsp;Steve Smith<br />
  CFO<br />
  &nbsp;&nbsp;&nbsp;John Doe
  <%= image_tag("content-bar.png", :class => "content-bar") %>
  </div>
  <div class="content-right"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a sapien lorem. Proin tincidunt enim in enim lobortis sed pharetra sem cursus. Praesent rhoncus tristique magna, sit amet aliquet turpis rhoncus vel. Donec pulvinar pharetra nisl, id bibendum mauris tincidunt eget. Praesent scelerisque sodales sollicitudin. Nulla fringilla ullamcorper tristique. Sed sed urna eget dolor faucibus interdum et sit amet tortor. Nunc auctor malesuada libero at venenatis. Duis varius lectus id purus consectetur venenatis. Vestibulum blandit, elit sit amet rhoncus sodales, nisl purus sollicitudin orci, nec luctus lorem tellus eget felis. Proin ac nibh eget sapien vestibulum dapibus vel id enim.</p>

    <p>Mauris sit amet leo nibh. Suspendisse venenatis tincidunt ipsum, vitae sollicitudin risus suscipit eget. Nam consectetur massa vel dolor placerat mollis. Etiam auctor enim nec lorem cursus vitae rhoncus lectus rutrum. Nullam rhoncus sem a dui fermentum vel lacinia ligula volutpat. Nunc justo sapien, tincidunt nec pharetra ac, sollicitudin a tortor. Nunc sit amet eros ipsum, in dapibus mauris. Ut hendrerit enim sem, ut ultrices odio. Vestibulum ac massa nunc. Vivamus semper consectetur gravida. Praesent luctus eleifend velit eget tempor. Nulla a hendrerit dui. Suspendisse non velit a lectus ultricies pulvinar in in nunc. Nunc ac tortor odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

    <p>In cursus adipiscing urna laoreet porta. Vestibulum dapibus risus vitae justo euismod egestas. Nulla nisl ante, egestas sed lobortis ut, bibendum in sem. Vestibulum aliquet scelerisque feugiat. Phasellus quis augue turpis, ac imperdiet ipsum. Ut sodales nulla sit amet felis fermentum eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus tincidunt lectus quis gravida.</p></div>
</div>