

<div class="main-content">
  <%= image_tag("news-shadow.png", :class => "page-title" ) %>
  <p class="page-title">About Us</p>
  <div class="content-left">
    <%= render :partial => 'content/about_left_pane' %>
  <%= image_tag("content-bar.png", :class => "content-bar") %>
  </div>
  <div class="content-right">
    <%= render :partial => '/content/about_us' %>
  </div>
</div>