

<div class="main-content">
  <%= image_tag("news-shadow.png", :class => "page-title" ) %>
  <p class="page-title">About Us</p>
  <div class="content-left">
    <%= render :partial => 'lionheart-ts.com/content/_about_left_pane.html.erb' %>
  <%= image_tag("content-bar.png", :class => "content-bar") %>
  </div>
  <div class="content-right">
    <%= render :partial => 'lionheart-ts.com/content/_about_us.html.erb' %>
  </div>
</div>