/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body
{
    background-image:url('bg.jpg');
    background-size: 100% 105%;
    font: 15px constantia,serif;
    text-transform:capitalize;
    font-variant:small-caps;
}
div.header
{
    width:960px;
    height:155px;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:auto;
    margin-left:auto;
    
}

div.content
{
    width:960px;
    height:625px;
    margin-right:auto;
    margin-left:auto;
}
div.banner-box
{
  width:920px;
  height:385px;
  position: relative;
  cursor: pointer;
}
div.left-arrow
{
  position: absolute;
  left: 5px;
  top: 175px;
  cursor: pointer;
}
div.right-arrow
{
  position: absolute;
  right: 5px;
  top: 175px;
  cursor: pointer;
}
div.content-boxes
{
    width:980px;
    height:180px;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:auto;
    margin-left:auto;
    position: relative;
}
div.content-box
{
    width:460px;
    height:180px;
    background-color: #9d9c9a;
    margin-right: 20px;
    float: left;
}
div.footer-box
{
    
    width: 100%;
    height:180px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: #393939;
    overflow: visible;
    z-index: -1;
}
div.footer
{
    height:180px;
    width: 960px;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:auto;
    margin-left:auto;
}
div.footer-contact
{
    width:300px;
    height:160px;
    margin-right:10px;
    margin-left:10px;
    margin-top: 10px;
    float: left;
}
p.footer
{
    color: #737373;
    font-size: small;
    padding-left: 20px;
}
div.footer-map
{
    width:360px;
    height:160px;
    margin-right:10px;
    margin-left:10px;
    margin-top: 10px;
    padding-left: 20px;
    float: left;
}
div.footer-logo
{
    width:220px;
    height:180px;
    margin-right:10px;
    margin-top: 10px;
    margin-left:10px;
    float: left;
}
div.header-logo
{
    width:380px;
    height:155px;
    margin-right:10px;
    margin-left:10px;
    float: left;
    border: 0;
}
div.header-nav
{
    width:540px;
    height:155px;
    margin-right:10px;
    margin-left:10px;
    float: right;
}
p.nav
{
    text-align:center;
}
ul.nav
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li.nav
{
float:left;
}
a.nav
{
display:block;
width:100px;
    margin-top:65px;
}
a.nav:link,a.nav:visited
{
display:block;
width:100px;
font-weight:bold;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
color:#000000;
}
a.nav:hover,a.nav:active
{
    background-color:#f1f1fa;
}
hr.header
{
border: 0;
color: #9E9E9E;
background-color: #9E9E9E;
height: 1px;
width: 100%;
text-align: left;
}
p.map
{
    font-size: small;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    line-height:200%;
    padding-left: 0px;
}

a.map:link {text-decoration:none; color:#757575;}
a.map:visited {text-decoration:none; color:#757575;}
a.map:hover {text-decoration:none; color:#757575;}
a.map:active {text-decoration:none; color:#757575;}

a.footer:link {color:#757575;}
a.footer:visited {color:#757575;}
a.footer:hover {color:#757575;}
a.footer:active {color:#757575;}

a.content-left:link {color:white;}
a.content-left:visited {color:white;}
a.content-left:hover {color:white;}
a.content-left:active {color:white;}

.nav-divider
{
    position: relative;
    top: -65px;
}

.header-shadow
{
    width: 100%;
}

.map-image
{
    position: relative;
    top: -5px;
    left: -20px;
    float: left;
    padding-right: 0px;
}

.news-shadow
{
    position: absolute;
    left: -17px;
    top: 5px;
}

.facebook-large
{
    position: absolute;
    right:275px;
    bottom: 20px;
    z-index: 5;
}

.latest-posts-shadow
{
    position: absolute;
    right:23px;
    bottom: 0px;
}

p.news-shadow
{
    position: absolute;
    left: 5px;
    top: 0px;
    text-transform:uppercase;
    color:#ffffff;
    font-size: larger;
}

p.latest-posts-shadow
{
    position: absolute;
    right:48px;
    bottom: 0px;
    text-transform:uppercase;
    text-decoration: none;
    color:#ffffff;
    font-size: larger;
}

div.main-content
{
    width:960px;
    height:625px;
    margin-right:auto;
    margin-left:auto;
    background-color: #9b9b9b;
    position: relative;
    color: white;
}

div.content-left
{
    width:220px;
    height:535px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    margin-top: 80px;
    font-size: large;
    position: relative;
}

div.content-right
{
    width:700px;
    height:535px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    margin-top: 80px;
    text-indent:20px;
}

.page-title
{
    position: absolute;
    left: -17px;
    top: 5px;
}

p.page-title
{
    position: absolute;
    left: 25px;
    top: -10px;
    text-transform:uppercase;
    color:#ffffff;
    font-size: x-large;
}

.fields
{
    border: 0;
}

input
{
    height: 30px;
    background-color: #b8b8b8;
    border: 0;
}
textarea
{
    background-color: #b8b8b8;
    border: 0;
    resize: none;
}
.actions
{
    border: 0;
}

input.submit
{
    width: 200px;
    height: 30px;
    background-color: #852324;
    font: 15px constantia,serif;
    text-transform:uppercase;
    color: white;
    float: left;
}

hr.contact
{
    color: #b8b8b8;
    background-color: #b8b8b8;
    height: 5px;
    border: 0;
    margin-left: 15px;
}

.tour-main
{
    width: 600px;
    float: none;
    cursor: pointer;
}

.tour-nav-images
{
  	position:absolute;
  	bottom: 30px;
}

.tour-nav-image
{
    width: 75px;
    float: left;
    margin-right: 15px;
    margin-left: 35px;
    cursor: pointer;
}

.content-bar
{
    position: absolute;
    right: 0px;
    top: -40px;
}

div.slide-name {
    cursor: pointer;
}